.div-roles{
  width: 80%;
  margin-top: 7%;
  margin-left: 10%;
}

.fieldControlx{
  width: 100%;
}

.noah{
  height: 30px;
}

.column-usage-dashboards {
  /* float: left;/ */
  width: 70%;
  height: 90%;
  /* margin: 0.5%; */
  /* background-color: aqua; */
}

.nobi{
  position: '-webkit-sticky';
  position: 'sticky';
  background: '#fff';
  left: 0;
  /* zIndex: 1; */
}

.rdt_TableHead {
  /* color: rgb(235, 235, 235); */
  background: rgb(235, 235, 228);
  font-weight: bold ;
}

.ah{
  /* float: right; */
  /* right: 0;
  mar */
  /* margin: 300px; */
  float: right;
}

.for{
  width: 100%;
}

.kntl {
  width: 240px;
  position: relative;
}

.kntl .dday{
  margin-left: 15%;
  position: relative;
  background-color: rgb(240, 42, 42);
}

.oppo{
  width: 55%;
  /* height: 400px; */
  float: right;
  margin-left: 4%;
  position: relative;
}

.fortex{
  width: 20px;
  display: inline;
}

.gilbi{
  width: 100%;
  display: inline-block;
  position: relative;
}

.hoi{
  width: 100%;
}

.nah{
  width: 500px;
  margin-left: 10%;
  border: black;
  border-radius: 1px;
  cursor: pointer;
}

.label-select{
  width: 100%;
  margin-top: 5%;
}